<div class="container">
  <div class="left-div">
    <div class="internal-div">
      <app-big-text text="JULIAN RODRIGUEZ" smallText="Developed by"></app-big-text>
    </div>
  </div>
  <div class="right-div">
    <div class="container-email">
      <p>Email</p>
      <input type="email" placeholder="Enter your email to contact you" >
      <p>Name / Organization</p>
      <input type="text" placeholder="Enter your name or name of company" >
      <p>Correo</p>
      <textarea class="multiline-input" placeholder="Thank you for considering my portfolio. I'm excited to connect with you and discuss how I can contribute to your project or organization. To get in touch, please provide your email address, and rest assured that I will contact you within the next 12 hours."></textarea>
      <app-box-button textButton='SEND' link='#contact'></app-box-button>
    </div>
  </div>
</div>
