<div class="position">
  <div class="position-name">
    <p class="name">Julian David Rodriguez Camargo</p>
  </div>
  <div class="position-buttons">
    <a href="#projects" class="links">Projects</a>
    <a href="#knowledge" class="links">Knowledge</a>
    <a href="#contact" class="links">Contact</a>
    <div class="sidebar" [ngClass]="{ 'show-sidebar': showMenu }">
      <a href="#projects" class="links-sidebar">Projects</a>
      <a href="#knowledge" class="links-sidebar">Knowledge</a>
      <a href="#contact" class="links-sidebar">Contact</a>
    </div>
    <button class="menu-button" (click)="toggleMenu()">&#9776;</button>
  </div>
</div>
