div, p, a{
  margin: 0;
}

div.position {
  position: fixed;
  z-index: 1;
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 1px 0px;
  width: 100%;
  height: 3.5rem;
  background: rgba(0, 0, 0, 0.5);
  backdrop-filter: blur(5px);
  border-bottom: 2px solid white;
}

.position-name {
  padding: 0.5rem;
  width: 100%;
  z-index: 2;
}

.name {
  position: relative;
  font-family: 'Migra Ligth';
  font-style: normal;
  font-size: 16px;
  display: flex;
  text-transform: capitalize;
  color: #FFFFFF;
  min-width: 0;
}

div.position-buttons {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  padding-right: 2rem;
  gap: 3rem;
  position: absolute;
  width: auto;
  height: auto;
  right: 0;
  top: 18px;
  flex: none;
  order: 1;
  flex-grow: 0;
  z-index: 2;
}

.links {
  font-family: 'Gill Sans MT';
  font-style: normal;
  position: relative;
  display: inline-block;
  color: #ffffff;
  text-decoration: none;
  font-size: 16px;
}

.links::after {
  content: '';
  position: absolute;
  width: 100%;
  height: 2px;
  bottom: -3px;
  left: 0;
  background-color: #ffffff;
  visibility: hidden;
  transition: all 0.3s ease-in-out;
}

.links:hover::after {
  visibility: visible;
  transform: scaleX(1);
}

.links-sidebar {
  font-family: 'Gill Sans MT';
  font-style: normal;
  position: relative;
  display: block;
  color: #ffffff;
  text-decoration: none;
  font-size: 16px;
  padding-top: 2rem;
  padding-left: 2rem;
}

.position-buttons {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.menu-button {
  display: none;
}

.sidebar {
  position: fixed;
  height: 100%;
  top: 0;
  left: -250px;
  width: 250px;
  height: 100vh;
  background-color: #333;
  transition: left 0.3s;
  z-index: 4;

}

.show-sidebar {
  left: 0;
}

.sidebar-link {
  display: block;
  padding: 10px;
  text-decoration: none;
  color: #fff;
}

@media (max-width: 768px) {
  .menu-button {
    display: inline-block;
    background-color: transparent;
    color: #fff;
    border: none;
    font-size: 20px;

    cursor: pointer;
  }

  .links {
    display: none;
  }

  .sidebar {
    display: none;
  }

  .show-sidebar {
    display: block;
  }
}
