
.text {
  padding-top: 1rem;
  padding-left: 2rem;
  display: block;
  
}

.title {
  font-family: 'Tusker Grotesk';
  font-style: bold;
  font-size: 70px;
  text-transform: uppercase;
  color: white;
  line-height: 1;
}

.subtitle {
  font-family: 'Iceland';
  font-style: normal;
  font-size: 20px;
  text-transform: capitalize;
  line-height: 1;
}

p {
  color: #FFFFFF;
  margin: 0;
  line-height: 0.5;
}

a {
  color: #004687;
}
