<app-header></app-header>
<div class="principal">
  <div class="animated-div" [style.opacity]="opacity">
    <div class="initial">
      <div class="initial-main">
        <div class="pos-letter">
          <app-big-text smallText = 'System Engineering &' text='BACKEND DEVELOPER'></app-big-text>
        </div>
        <div class="center-container">
          <div class="pos-text-initial">
            <p class="normal-text">
              Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc ut felis ac risus consectetur lobortis. Donec ultricies risus vitae lectus malesuada vehicula. Etiam feugiat aliquam ipsum, vitae rutrum diam. Integer elementum et nibh rhoncus ultricies. Integer elementum et nibh rhoncus ultricies.
            </p>
          </div>
          <app-box-button textButton='CONTACT' link='#contact'></app-box-button>
        </div>
      </div>
    </div>
  </div>
<!--
  <div class="proyects" id="projects">
    <div class="position-title">
      <img class="image-projects" src="/./assets/images/star.png" alt="">
      <p class="title-proyect" >My projects /
          <a class="link-otter" href="https://github.com/JulianRodriguez01">show more</a>
      </p>
    </div>
    <div class="first-proyect">
      <app-card-proyect title='Proyecto 1' subtitle='java' link='https://github.com/JulianRodriguez01/managment-properties.git' srcImage='https://images.pexels.com/photos/430208/pexels-photo-430208.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=2'></app-card-proyect>
    </div>
    <div class="second-proyect">
      <app-left-card-proyect title='PROYECTO 2' subtitle='python' srcImage='https://images.pexels.com/photos/2447046/pexels-photo-2447046.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=2'></app-left-card-proyect>
    </div>
    <div class="thirth-proyect">
      <app-left-card-proyect title='PROYECTO 3' subtitle='java' srcImage='https://images.pexels.com/photos/265685/pexels-photo-265685.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=2'></app-left-card-proyect>
    </div>
    <div class="fourth-proyect">
      <app-card-proyect title='PROYECTO 4' subtitle='python' srcImage='https://images.pexels.com/photos/3585089/pexels-photo-3585089.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=2'></app-card-proyect>
    </div>
    <div class="five-proyect">
      <app-card-proyect title='PROYECTO 5' subtitle='python' srcImage='https://images.pexels.com/photos/3585089/pexels-photo-3585089.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=2'></app-card-proyect>
    </div>

  </div>
  <div class="knowledge" id="knowledge">
    <div class="position-title">
      <img class="image-projects" src="/./assets/images/star.png" alt="">
      <p class="title-proyect" >KNOWLEDGE
      </p>
    </div>
    <div class="position-table ">
      <app-table></app-table>
    </div>
    <div class="images-knowledge">
      <app-circle-image srcImage="/././assets/images/java.jpg" nameImage="Java"></app-circle-image>
      <app-circle-image srcImage="/././assets/images/angular.png" nameImage="Angular"></app-circle-image>
      <app-circle-image srcImage="/././assets/images/php.jpg" nameImage="PHP"></app-circle-image>
      <app-circle-image srcImage="/././assets/images/net.jpg" nameImage=".Net"></app-circle-image>
      <app-circle-image srcImage="/././assets/images/docker.webp" nameImage="Docker"></app-circle-image>
      <app-circle-image srcImage="/././assets/images/c.jpg" nameImage="C - C++"></app-circle-image>
      <app-circle-image srcImage="/././assets/images/python.jpg" nameImage="Python"></app-circle-image>
    </div>
  </div>

  <div class="contact" id="contact">
    <div class="position-title">
      <img class="image-projects" src="/./assets/images/star.png" alt="">
      <p class="title-proyect" >Contact /
        <a class="link-otter" href="https://github.com/JulianRodriguez01"> LinkedIn</a>
      </p>
    </div>
    <div class="position-name-contact">
      <div class="position-name-internal-contact">
        <h2 >HELLO I'M JULIAN DAVID </h2>
        <p>Rodriguez Camargo</p>
      </div>
    </div>
    <div class="position-contact">
      <div class="column-contact-1">
        <div class="column-int-contact-1">
          <div class="column-internal-contact">
              <app-subtitle text="Phone number" linkText=" 3012060964"></app-subtitle>
              <app-subtitle text="Email" linkText="julian.rodriguez21@uptc.edu.co"></app-subtitle>
              <app-subtitle text="References" linkText=" 3012060964"></app-subtitle>
          </div>
        </div>
        <div class="column-int-contact-2">
          <div class="column-int-contact-1">
            <div class="column-internal-contact">
            <p>
              Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc ut felis ac risus consectetur lobortis. Donec ultricies risus vitae lectus malesuada vehicula. Etiam feugiat aliquam ipsum, vitae rutrum diam. Integer elementum et nibh rhoncus ultricies.  Integer elementum et nibh rhoncus ultricies.
            </p>
            <app-box-button textButton='SAVE MY CV' link='#contact'></app-box-button>
          </div>
          </div>
        </div>
      </div>
      <div class="column-contact-2">
        <div class="position-image-contact">
          <app-oval-image srcImage="/././assets/images/angular.png" nameImage="Java"></app-oval-image>
        </div>
      </div>
    </div>
  </div>
-->
</div>
<!--
<app-footer></app-footer>
-->
