div {
  padding-top: 2rem;
  padding-left: 8rem;
  padding-right: 8rem;
}

table {
  border-collapse: collapse;
  width: 100%;
  padding: 1rem;
}

thead {
  background-color: #ffffff;
  color: black;
}

th {
  padding: 8px;
  font-family: 'Iceland';
  font-style: bold;
  font-size: 20px;
  text-align: center;
  border-bottom: 1px solid #ffffff;
}

tbody tr:nth-child(even) {
  background-color: rgb(47, 45, 45);
}

td {
  padding: 8px;
  border-bottom: 1px solid #ffffff;
}
